
body {
    padding: 10px;
}

h1 {
    border-bottom: 1px solid gray;
    margin-top: 0;
}

/* View: users list */
.users {
    list-style: none;
}

.users li {
    clear: both;
    height: 115px;
    padding-top: 15px;
}

.thumb {
    float: left;
    height: 100px;
    margin: -0.5em 1em 1.5em 0;
    padding-bottom: 1em;
    width: 100px;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 550px}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {height: auto;}
}

.table-editable {
    position: relative;
}
.table-editable .glyphicon {
    font-size: 20px;
}

.table-remove {
    color: #700;
    cursor: pointer;
}
.table-remove:hover {
    color: #f00;
}

.table-up,
.table-down {
    color: #007;
    cursor: pointer;
}
.table-up:hover,
.table-down:hover {
    color: #00f;
}

.table-add {
    color: #070;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 0;
}
.table-add:hover {
    color: #0b0;
}
.table-status{
     color: #f00;
     cursor: pointer;
}
.table-edit {
    color: #194777;
    cursor: pointer;
}
.table-edit:hover {
    color: #0e08bb;
}

.chart {
    background: #eee;
    padding: 3px;
}

.chart div {
    width: 0;
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: center;
    padding: 3px;
    margin: auto;
    color: white;
    box-shadow: 2px 2px 2px #666;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.line{
    fill: none;
    stroke: blue;
    stroke-width: 2px;
}

.tick text{
    font-size: 12px;
}

.tick line{
    opacity: 0.2;
}


div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
#valuepoints{
    opacity:1;
}
#valuepoints:hover{
    opacity:1;
}
.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

#map_canvas{
    width:50%;
    height: 200px;
    border: 1px solid #333335;
    margin-bottom:20px;
}
