.helmet-list-item.ng-enter,
.helmet-list-item.ng-leave,
.helmet-list-item.ng-move {
    transition: 0.5s linear all;
}

.helmet-list-item.ng-enter,
.helmet-list-item.ng-move {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.helmet-list-item.ng-enter.ng-enter-active,
.helmet-list-item.ng-move.ng-move-active {
    height: 120px;
    opacity: 1;
}

.helmet-list-item.ng-leave {
    opacity: 1;
    overflow: hidden;
}

.helmet-list-item.ng-leave.ng-leave-active {
    height: 0;
    opacity: 0;
    padding-bottom: 0;
    padding-top: 0;
}